{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Materialize CSS  -->
    <link type="text/css" rel="stylesheet" href="{% static "css/materialize.min.css" %}" media="screen,projection" />
    <!--Google Icons & Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo|Enriqueta&display=swap" rel="stylesheet">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/8ff4dfcdfe.js" crossorigin="anonymous"></script>
    <!-- My CSS  -->
    <link type="text/css" rel="stylesheet" href="{% static "css/main.css" %}" media="screen,projection" />

    <!--Bootstrap CSS-->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->

    <!-- Title & Meta  -->
    <title>
        {% block title %}{% endblock title %} | Jacob Sowder
    </title>
    <meta name="description"
        content="Jacob Sowder is a new developer who wants his career to help progressive causes make change in the USA.">
    <meta name="author" content="Jacob Sowder">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/png" href="{% static "media/favicon.png" %}">
    <link rel="apple-touch-icon" href="{% static "media/favicon.png" %}">
    <link rel="icon" type="image/png" href="{% static "media/favicon.png" %}">

    <!--Analytics -->
    {% include 'jacobsowder_com/analytics.html' %}
</head>

<body style="{{ bodystyle | default:'' }}">

    <!-- Start Header -->
    {% include 'jacobsowder_com/header.html' %}
    <!-- End Header -->


    <!-- Start MAIN -->
    <main class="transparent container">
        {% include 'jacobsowder_com/messages.html' %}

        {% block content %}
        {% endblock content %}

    </main>
    <!-- End MAIN -->

    <!-- Floating Button Start -->
    {% include 'jacobsowder_com/floating.html' %}
    <!-- Floating Button End -->

    <!-- Start Footer -->
    {% include 'jacobsowder_com/footer.html' %}
    <!-- End Footer -->

    <!--Materialize JavaScript-->
    <script type="text/javascript" src="{% static "js/materialize.min.js" %}"></script>
    <!--Main Javascript-->
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>
    <!-- Bootstrap Javascript  -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script> -->
</body>

</html>